/* General */
body {
  background-color: #2d2d34;
  color: #f5f5f5;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

/* Títulos */
.text-title {
  font-size: 2rem;
  color: #ffdd57;
  text-shadow: 3px 3px 0px rgba(69, 123, 157, 1);
  position: relative;
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

/* Menu principal */
.card {
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 1rem;
  margin: 10px;
  padding: 10px;
}

/* Botones */
.btn-action, .btn-reset {
  width: 100%;
  font-size: 0.875rem;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.btn-action {
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-action:hover {
  background-color: #e67e22;
  border-color: #e67e22;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.btn-reset {
  background-color: #27ae60;
  border-color: #27ae60;
}

.btn-reset:hover {
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* Barra de tiempo */
.time-bar {
  height: 20px;
  background-color: #95a5a6;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.time-bar-fill {
  height: 100%;
  background-color: #1abc9c;
  transition: width 0.1s linear;
}

/* Inputs */
@keyframes inputFocus {
  0% {
    border-color: #3498db;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    border-color: #2ecc71;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.6);
  }
  100% {
    border-color: #3498db;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.circular-input {
  width: 80%;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.circular-input:focus {
  outline: none;
  animation: inputFocus 1s ease-in-out;
}

.circular-input::-webkit-inner-spin-button,
.circular-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Mensajes de fin de juego */
.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e74c3c;
  text-shadow: 5px 5px rgb(28, 31, 42);
  padding: 20px;
}

.game-over-title {
  font-size: 4rem;
  font-weight: bold;
  animation: gameOverAnimation 1s ease-in-out;
}

@keyframes gameOverAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modo difícil */
.hard-mode-text, .hard-mode-alert {
  font-size: 1.25rem;
}

/* Texto */
.small-text {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.instructions {
  font-size: 1.25rem;
  color: #f5f5f5;
  margin-bottom: 20px;
}

.game-status {
  font-size: 1.5rem;
  color: #f5f5f5;
  margin-bottom: 20px;
}

/* Corazones */
.hearts-container {
  display: flex;
  flex-wrap: wrap; /* Permite el envolvimiento en múltiples filas */
  justify-content: center; /* Centra los ítems horizontalmente */
  gap: 10px; /* Espacio entre los corazones */
  margin-bottom: 20px;
}

.heart-icon {
  width: 20px; /* Tamaño de los corazones */
  height: 20px;
  filter: saturate(1);
  transition: transform 0.3s, filter 0.3s;
  flex: 0 0 20px; /* Evita que los corazones cambien de tamaño */
}

/* Alertas */
.alert {
  min-height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.15rem;
}

.alert-info {
  background-color: #3498db;
  color: #ffffff;
}

.alert-danger {
  background-color: #e74c3c;
  color: #ecf0f1;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .text-title {
    font-size: 1.5rem;
  }

  .btn-action, .btn-reset {
    width: 100%;
    padding: 0.8rem 0;
  }

  .circular-input {
    width: 60%;
    max-width: 80px;
    font-size: 1.5rem;
  }

  .game-over-title {
    font-size: 2.5rem;
  }

  .small-text {
    font-size: 0.8rem;
  }

  .instructions, .game-status {
    font-size: 1rem;
  }

  .heart-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .text-title {
    font-size: 1.25rem;
  }

  .btn-action, .btn-reset {
    width: 100%;
    padding: 0.6rem 0;
  }

  .circular-input {
    width: 50%;
    max-width: 60px;
    font-size: 1.25rem;
  }

  .game-over-title {
    font-size: 2rem;
  }

  .small-text {
    font-size: 0.7rem;
  }

  .instructions, .game-status {
    font-size: 0.9rem;
  }

  .hearts-container {
    max-width: 200px; /* Ajusta según el tamaño deseado */
  }

  .heart-icon {
    width: 15px; /* Tamaño de los corazones más pequeño */
    height: 15px;
  }
}
